// COLORS

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-purple: #6c63ff; // rgb(108,99,255)
$color-Keppel: #2ebfa5;

$color-cupcake-grey: #d8e2dc;
$color-beige: #ffe5d9;
$color-lightPink: #ffcad4;
$color-mediumPink: #f4acb7;
$color-mediumDarkPink: #e77f8f;
$color-darkPink: #ff7096;
$color-dustyLilac: #9b8188;
$color-darkLilac: #77515b;

$color-grey: #777;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark: #999;
$color-grey-dark-1: #333;
$color-black: #212529;
$color-black-onyx: #36393b;
$color-white: #fff;

// FONT WEIGHT

$font-weight-light: 100;
$font-weight-regular: 300;
$font-weight-medium: 400;
$font-weight-medium-bold: 700;
$font-weight-bold: 900;

// FONT FACE

$font-face-primary: "Dancing Script", cursive;
$font-face-secondary: "Lato", sans-serif;

// FONT SIZE

$font-size-html: 62.5%;
$font-size-body: 1rem;
$font-size-h1-regular: 6rem;
$font-size-h1-small: 3.5rem;
$font-size-h2-regular: 2rem;
$font-size-h3-regular: 1.8rem;
$font-size-p-regular: 1.6rem;
$font-size-p-small: 1.5rem;
$font-size-p-tiny: 1.4rem;
$font-size-li-regular: 3rem;
$font-size-a-regular: 2rem;

// GRID

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
