.packageCard {
  padding: 1rem;
  font-size: $font-size-p-regular;
  background: rgba($color-Keppel, 0.7);

  transition: 0.5s ease-in-out;
  box-shadow: 0 1.5rem 2rem rgba(33, 37, 41, 0.2);
  border-radius: 6px;

  &:hover {
    background-color: $color-primary-light;
    transform: scale(1.1);
  }

  &__link {
    font-size: $font-size-h1-small;

    &--img {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  &__list {
    font-size: $font-size-p-regular;
    padding: 0.5rem;
    font-weight: $font-weight-medium;
    background-color: $color-cupcake-grey;
    border-radius: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    width: 100%;
    min-width: 1px;
  }
}
