/* 
0-600px:    Phone
600 - 900px: Tablet portrait
900 - 1200px: Tablet landscape
1200 - 1800 Desktop styles
1800px +: big desktop styles
*/
/* breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop
*/
*,
*::after,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html,
body {
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto; }

html {
  font-size: 62.5%; }
  @media (min-width: 46.875em) {
    html {
      font-size: 80%; } }
  @media (min-width: 100em) {
    html {
      font-size: 90%; } }

body {
  box-sizing: border-box;
  position: relative;
  padding: 0rem;
  background-color: #f7f7f7; }
  @media (min-width: 34.375em) {
    body {
      padding: 3rem; } }

img {
  width: 100%; }

section {
  padding: 2rem;
  text-align: center; }

.container {
  height: 100vh;
  display: flex;
  flex-direction: column; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #36393b; }

li {
  list-style: none; }

a {
  text-decoration: none;
  color: #36393b; }

h1 {
  font-size: 3.5rem; }

h2 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 2rem; }

.worldMap__title {
  margin-top: 2rem;
  text-align: center; }

h3 {
  color: #333;
  font-size: 1.8rem; }

p {
  font-size: 1.6rem; }

.btn {
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
  padding: 1rem;
  width: 80px;
  margin-bottom: 2rem;
  margin-top: 1rem;
  font-size: 1.6rem;
  padding: 1rem 0rem 1rem 0rem;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.7), rgba(40, 180, 133, 0.7));
  border-radius: 8px;
  box-shadow: 0 1rem 1.5rem rgba(33, 37, 41, 0.2); }
  .btn:hover {
    opacity: 0.7;
    text-decoration: underline;
    transform: scale(1.1); }
  .btn:active {
    transform: translateY(6px); }

.footer {
  background-image: linear-gradient(to left top, rgba(108, 99, 255, 0.7), rgba(46, 191, 165, 0.7));
  color: #28b485;
  text-align: center;
  padding: 1.5em 0;
  font-size: 1.6rem;
  margin-top: auto;
  transition: all ease-in-out; }
  .footer__link:hover, .footer__media-list__item:hover {
    opacity: 0.7;
    text-decoration: underline;
    transform: scale(1.1); }
  .footer__media-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0.8em 0 0;
    padding: 0; }
    .footer__media-list__item {
      margin: 0 0.5em; }
    .footer__media-list__link {
      padding: 0.5em; }
  .footer a {
    color: #36393b;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: 700; }

.header {
  position: relative;
  background-image: linear-gradient(to right bottom, rgba(108, 99, 255, 0.7), rgba(46, 191, 165, 0.7));
  text-align: center;
  padding: 3rem;
  transition: all ease-in-out;
  font-size: 2rem; }
  @media (min-width: 34.375em) {
    .header__list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; } }
  .header__list__item:hover {
    opacity: 0.7;
    text-decoration: underline;
    transform: scale(1.1); }
  .header__list--logo {
    font-size: 3.5rem; }
  .header__user {
    width: 100%;
    text-align: right;
    position: absolute;
    right: 10px;
    bottom: 2px;
    font-size: 1.6rem; }
  .header__img {
    position: absolute;
    right: 14px;
    top: 14px;
    width: 30px;
    cursor: pointer;
    border-radius: 4px;
    transition: all ease-in-out; }
    .header__img:hover {
      transform: scale(1.1);
      opacity: 0.7; }
    .header__img:active {
      transform: translateY(4px); }

.packageCard {
  padding: 1rem;
  font-size: 1.6rem;
  background: rgba(46, 191, 165, 0.7);
  transition: 0.5s ease-in-out;
  box-shadow: 0 1.5rem 2rem rgba(33, 37, 41, 0.2);
  border-radius: 6px; }
  .packageCard:hover {
    background-color: #7ed56f;
    transform: scale(1.1); }
  .packageCard__link {
    font-size: 3.5rem; }
    .packageCard__link--img {
      padding-left: 1rem;
      padding-right: 1rem; }
  .packageCard__list {
    font-size: 1.6rem;
    padding: 0.5rem;
    font-weight: 400;
    background-color: #d8e2dc;
    border-radius: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    width: 100%;
    min-width: 1px; }

.packagesFilter {
  max-width: 1450px;
  margin-left: auto;
  margin-right: auto; }
  .packagesFilter__subHeading {
    padding-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.6rem; }
  .packagesFilter__form {
    margin-bottom: 1.5rem;
    font-size: 1.6rem; }
    @media (min-width: 34.375em) {
      .packagesFilter__form {
        text-align: left; } }
    .packagesFilter__form--input {
      width: 220px;
      font-size: 1.6rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      padding-left: 0.5rem;
      font-family: "Lato", sans-serif; }
    .packagesFilter__form__checkBox {
      display: grid;
      font-size: 1.6rem;
      font-weight: 400; }
      @media (min-width: 34.375em) {
        .packagesFilter__form__checkBox {
          grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
          row-gap: 1rem;
          column-gap: 3rem;
          max-width: 1450px; } }
      .packagesFilter__form__checkBox input:checked ~ label {
        color: #fff; }
        .packagesFilter__form__checkBox input:checked ~ label:before {
          transform: translate(-50%, -50%) scale3d(56, 56, 1);
          opacity: 1; }
        .packagesFilter__form__checkBox input:checked ~ label:after {
          background-color: #54e0c7;
          border-color: #54e0c7; }
      .packagesFilter__form__checkBox input {
        width: 32px;
        height: 32px;
        order: 1;
        z-index: 2;
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        visibility: hidden; }
      .packagesFilter__form__checkBox--wrapper {
        background-color: #fff;
        display: block;
        margin: 10px 0;
        position: relative; }
        .packagesFilter__form__checkBox--wrapper label {
          padding: 12px 30px;
          width: 100%;
          display: block;
          text-align: left;
          color: #3c454c;
          cursor: pointer;
          position: relative;
          z-index: 2;
          transition: color 200ms ease-in;
          overflow: hidden;
          box-shadow: 0 1rem 1.5rem rgba(33, 37, 41, 0.2);
          border-radius: 6px; }
          .packagesFilter__form__checkBox--wrapper label:before {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            content: "";
            background-color: #5562eb;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) scale3d(1, 1, 1);
            transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
            opacity: 0;
            z-index: -1; }
          .packagesFilter__form__checkBox--wrapper label:after {
            width: 32px;
            height: 32px;
            content: "";
            border: 2px solid #d1d7dc;
            background-color: #fff;
            background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
            background-repeat: no-repeat;
            background-position: 2px 3px;
            border-radius: 50%;
            z-index: 2;
            position: absolute;
            right: 30px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            transition: all 200ms ease-in; }
      .packagesFilter__form__checkBox--label {
        display: block; }
  .packagesFilter__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 3rem; }
    @media (min-width: 46.875em) {
      .packagesFilter__grid {
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); } }

.googleMap__detailedView {
  overflow: hidden;
  margin-bottom: 6rem;
  margin-top: 1rem;
  box-shadow: 0 1.5rem 3rem rgba(33, 37, 41, 0.6); }

.googleMap__worldView {
  overflow: hidden;
  margin-bottom: 6rem;
  margin-top: 1rem;
  box-shadow: 0 1.5rem 3rem rgba(33, 37, 41, 0.6); }

.landing {
  position: relative;
  transition: all ease-in-out; }
  .landing-btn {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.6rem;
    padding: 1rem 0rem 1rem 0rem;
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.7), rgba(40, 180, 133, 0.7));
    border-radius: 8px;
    box-shadow: 0 1rem 1.5rem rgba(33, 37, 41, 0.2); }
    .landing-btn--link {
      padding: 1.5rem 2.5rem 1.5rem 2.5rem; }
    .landing-btn:hover {
      opacity: 0.7;
      text-decoration: underline;
      transform: scale(1.1); }
    .landing-btn:active {
      transform: translateY(6px); }
  .landing-img {
    margin-top: 1rem; }
    @media (min-width: 34.375em) {
      .landing-img {
        max-width: 600px; } }

.detailedView {
  padding: 0; }
  .detailedView__list {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 2rem; }
